<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAGE</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/book.css">
</head>
<body>

    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <img src="img/logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/symptom">Symptom Checker</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/bookappointment" id="navbarDropdown"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Appointment
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/bookappointment">Book Appointment</a>
                                        <a class="dropdown-item" href="/viewappointment">View Appointment</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/diagnostics" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Diagnostics
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/diagonisticlocator">Diagnostic Center Locator</a>
                                        <a class="dropdown-item" href="/homediagnosis">At Home Diagnosis</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/pharmacy" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pharmacy
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/pharmacylocator">Pharmacy Locator</a>
                                        <a class="dropdown-item" href="/homepharmacy">Online Pharma</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/psignup" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sign Up
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/psignup">Patient  Sign Up</a>
                                        <a class="dropdown-item" href="/plogin">Patient Login</a>
                                        <a class="dropdown-item" href="/dsignup">Doctor Sign Up</a>
                                        <a class="dropdown-item" href="/dlogin">Doctor Login</a>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>



    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <div class="deliverhead">Book an online appointment with a doctor.</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="img/compdoc.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <section class="bookcont">
        <div class="grid">
  
            <% doctors.forEach(function(doc,i){ %>
            <div class="doctorcard">
                <span><%= doc.name %> </span>
               <span> Specialization : <%= doc.specialization %></span>
               <span> Phone : <%= doc.phone %> </span>
                <button  type="button" class="btn btn-primary btn_2" data-toggle="modal" data-target="#MyModal">Book</button>
            </div>

    <% }) %>
        </div>

    </section>
    <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book an Appointment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <form class="modalform" action="/bookappointment" method="post">
                <select name="docid" class="form-control" id="doctor">
                    <% doctors.forEach(function(doc,i){ %>

                    <option value="<%=doc._id%>"><%=doc.name%></option>
                    <%})%>
                </select>
              <input type="date" name="date" class="form-control"/>
              <input type="hidden" name="patid" value="<%=userl._id%>">
              <input type="hidden" name="patname" value="<%=userl.name%>">
              <select name="slot" id="slot" class="form-control">
                  <option value="8:00 AM - 8:30 AM">8:00 AM - 8:30 AM</option>
                  <option value="8:30 AM - 9:00 AM">8:30 AM - 9:00 AM</option>
                  <option value="9:00 AM - 9:30 AM">9:00 AM - 9:30 AM</option>
                  <option value="9:30 AM - 10:00 AM">9:30 AM - 10:00 AM</option>
                  <option value="10:00 AM - 10:30 AM">10:00 AM - 10:30 AM</option>
                  <option value="10:30 AM - 11:00 AM">10:30 AM - 11:00 AM</option>
                  <option value="11:30 AM - 12:00 PM">11:30 AM - 12:00 PM</option>
                  <option value="12:00 PM - 12:30 PM">12:00 PM - 12:30 PM</option>
                  <option value="1:00 PM - 1:30 PM">1:00 PM - 1:30 PM</option>
                  <option value="1:30 PM - 2:00 PM">1:30 PM - 2:00 PM</option>

              </select>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                <button type="submit" class="btn btn-primary">BOOK</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>

    <footer class="footer-area">
        <div class="footer section_padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-2 col-md-4 col-sm-6 single-footer-widget">
                        <a href="#" class="footer_logo"> <img src="img/logo.png" alt="#"> </a>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                        <h4>Symptom Checker</h4>
                        <ul>
                            <li><a href="#">Symptom Checker</a></li>
                        </ul>

                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                        <h4>Appointments</h4>
                        <ul>
                            <li><a href="#">Book appointment</a></li>
                            <li><a href="#">View appointment</a></li>

                        </ul>

                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-6 single-footer-widget">
                        <h4>Diagnostics</h4>
                        <ul>
                            <li><a href="#">Diagnostic centre locator</a></li>
                            <li><a href="#"> At Home Diagnosis</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-md-6 single-footer-widget">
                        <h4>Pharmacy</h4>
                        <ul>
                            <li><a href="#">Pharmacy Locator</a></li>
                            <li><a href="#">Online Phramacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="assets/jquery-1.12.1.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
</body>
</html>