<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% appoint.forEach(function(ap,i){ %>
        <% if(ap.docid==docl._id){ %>
    <div>
        <%=ap.date%> <br>
        <%=ap.slot%> <br>
        <%=ap.patname%> <br>
        <%if(ap.status=="wait"){%>
            <button onclick="window.location.href='/accept/<%=ap._id%>'">Accept</button>
        <%}%>
        <%if(ap.status=="call"){%>
            <button onclick="window.location.href='/call/<%=ap._id%>'">Join Call</button>
        <%}%>
        <%if(ap.status=="test"){%>
            <form action="/add-test" method="post">
                <textarea name="test" id="" cols="30" rows="10"></textarea>
                <input type="hidden" name="apid" value="<%=ap._id%>">
            <button type="submit">Prescribe Tests</button>
            </form>
            <button onclick="window.location.href='/call/<%=ap._id%>'">Join Call</button>
        <%}%>
        <%if(ap.status=="med"){%>
            <form action="/add-med" method="post">
                <textarea name="med" id="" cols="30" rows="10"></textarea>
                <input type="hidden" name="apid" value="<%=ap._id%>">
            <button type="submit">Prescribe Medication</button>
            </form>
            <button onclick="window.location.href='/call/<%=ap._id%>'">Join Call</button>
        <%}%>
        <%if(ap.status=="completed"){%>
           Completed
        <%}%>
    </div>
    <%}})%>
</body>
</html>