<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% appoint.forEach(function(ap,i){ %>
        <% if(ap.patid==userl._id){ %>
    <div>
        <%=ap.date%> <br>
        <%=ap.slot%> <br>
        <%=ap.docname%> <br>
        <%if(ap.status=="wait"){%>
            Waiting Approval
        <%}%>
        <%if(ap.status=="call"){%>
            <button onclick="window.location.href='/call'">Join Call</button>
        <%}%>
        <%if(ap.status=="test"){%>
            <button onclick="alert('<%=ap.tests%>')">View Tests</button>
        <%}%>
        <%if(ap.status=="med"){%>
            <button onclick="alert('<%=ap.meds%>')">View Medication</button>
        <%}%>
    </div>
    <%}})%>
</body>
</html>